<footer class="page-footer green-box">
    <div class="two-column-box">
        <div class="two-column-box__column--80">
            <div class="page-footer__section">
                Find an issue with this page? <a href="https://github.com/ibrathesheriff/sheriffs-jailhouse" class="orange-anchor">Fix it on
                    GitHub</a>
            </div>
        
            <div class="page-footer__section">
                Need help? Email <a target="_blank" href="thesheriff@ibrathesheriff.com" class="white-anchor"><strong>thesheriff@ibrathesheriff.com</strong></a>
            </div>
        
            <div class="page-footer__section">
                Copyright &copy; {{ now.Year }}. All rights reserved.
            </div>
        </div>

        <div class="two-column-box__column--20">
            <a target="_blank" href="https://github.com/ibrathesheriff">
                <img class="img-icon-large" src="img/icons/small/github.png" alt="ibrathesheriff github icon">
            </a>

            <a target="_blank" href="https://x.com/ibrathesheriff">
                <img class="img-icon-large" src="img/icons/small/twitter.png" alt="ibrathesheriff x/twitter icon">
            </a>

            <a target="_blank" href="https://www.linkedin.com/in/ibra-sururu/">
                <img class="img-icon-large" src="img/icons/small/linkedin.png" alt="ibrathesheriff  linkedin icon">
            </a>
        </div>
    </div>
</footer>