<header class="left-right-box green-box">

    <div class="left-right-box__left page-header__left-section">
        <a href="/" class="green-anchor">{{ site.Title }} ~ $
            {{ $var := .IsHome }}
            {{ if $var }}
            <span class="blink-animation" id="bash-command">__</span>
            {{ else }}
            {{ $pathParts := split .RelPermalink "/" }} <!-- Split the URL path into parts -->
            {{ $lastPart := index $pathParts 0 }} <!-- Get the last part of the path -->
            {{ $pathIndex := (sub (len $pathParts) 2) }}
            <span class="sheriff-white-text" id="bash-command">
                <!-- "ls" for folders (posts, notes etc.), "cat" for documents -->
                {{ if eq $pathIndex 1 }}
                ls
                {{ else }}
                cat
                {{ end }}
                {{ .RelPermalink | strings.TrimSuffix "/" }}{{ if eq $pathIndex 1 }}/{{ else }}.md{{ end
                }}<!-- and then add the end of the command -->
            </span>
            {{ end }}
        </a>
    </div>

    <nav class="left-right-box__right page-header__right-section">
        <a href="/posts" class="green-anchor">~/posts</a>
        <a href="/episodes" class="green-anchor">~/episodes</a>
        <a href="/notes" class="green-anchor">~/notes</a>
        <a href="/projects" class="green-anchor">~/projects</a>
        <a href="/about" class="green-anchor">~/about</a>
    </nav>

</header>