<header class="left-right-box green-box">
    <div class="left-right-box__left page-header__left-section">
        <a href="/" class="green-anchor">{{ site.Title }} ~ $</a>
    </div>
    <div class="left-right-box__right page-header__right-section">
        <nav>
            <a href="/posts" class="green-anchor">~/posts</a>
            <a href="/notes" class="green-anchor">~/notes</a>
            <a href="/projects" class="green-anchor">~/projects</a>
            <a href="/about" class="green-anchor">~/about</a>
        </nav>
    </div>
</header>
