<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="page-container">
    <div id="progress-bar-block" class="hidden-block">
      <img src="img/landing/thesheriff.png" alt="An image the Sheriff - ibrathesheriff" class="centered-image">
      <div id="progress-bar" class="ascii-progress-bar">
        <div id="loading-dashboard-text" class="progress-bar-text"></div>
      </div>
      <div class="progress-bar-info" id="progress-bar-info">ibrathesheriff</div>
    </div>
    <div class="hidden-blockz" id="main-content-block">
      <header>
        {{ partial "header.html" . }}
      </header>
      <main class="landing-content green-box">
        <div class="posts-container">
          {{ range (where .Site.RegularPages "Type" "in" "posts") }}
        <div class="two-column-box green-box post-box">
          <div class="two-column-box__column--20">
            <img src="img/icons/medium/silo-hard-drive-file.png" class="orange-shadow image-width-60">
          </div>
          <div class="two-column-box__column--80">
            <div class="post-metadata">
              <h2>
                <a href="{{ .RelPermalink }}" class="white-anchor">{{ .Title }}</a>
              </h2>
              <p>{{ .Summary }}</p>
            </div>
          </div>
        </div>
        {{ end }}
        </div>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>

</html>