<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="page-container">
    <div id="progress-bar-block">
        <img src="images/landing/thesheriff.png" alt="An image the Sheriff - ibrathesheriff" class="centered-image">
        <div id="progress-bar" class="ascii-progress-bar">
            <div id="loading-dashboard-text" class="progress-bar-text"></div>
        </div>
        <div class="progress-bar-info" id="progress-bar-info">ibrathesheriff</div>
    </div>
    <div class="hidden-block" id="main-content-block">
        <header>
            {{ partial "header.html" . }}
          </header>
          <main>
            {{ block "main" . }}{{ end }}
          </main>
          <footer>
            {{ partial "footer.html" . }}
          </footer>
    </div>
  </div>
</body>
</html>