:root {
    /*
     * COLOURS 
     */
    --background-color: #071404; /* rgb(7, 20, 4)#0c2207 */
    --sheriff-green: #5ec12d;  /* rgb(94, 193, 45) */
    --sheriff-light-green: #7dde4e;  /* rgb(125, 222, 78) */
    /*
     * MEASUREMENTS 
     */
    --dashboard-border-thickness: 1px;
    /*
     * CURSORS 
     */
    --normal-cursor: url('../img/icons/small/cursor.png'), auto;
    --pointer-cursor: url('../img/icons/small/pointer.png'), auto;
    --text-cursor: url('../img/icons/small/text-editor.png'), auto;
}