.green-box {
    border: 2px solid var(--sheriff-green);
    border-radius: var(--box-border-radius);
    padding-right: var(--green-box-padding-right);
    padding-left: var(--green-box-padding-left);
    padding-top: var(--green-box-padding-top);
    padding-bottom: var(--green-box-padding-bottom);
    box-shadow: 1px 0px 5px var(--sheriff-green);
}

.green-shadow--hover:hover {
    box-shadow: 2px 0px 10px var(--sheriff-light-green);
}

.orange-box {
    border: 2px solid var(--sheriff-orange);
    border-radius: var(--box-border-radius);
    padding-right: var(--green-box-padding-right);
    padding-left: var(--green-box-padding-left);
    padding-top: var(--green-box-padding-top);
    padding-bottom: var(--green-box-padding-bottom);
    box-shadow: 1px 0px 5px var(--sheriff-orange);
}

.orange-shadow {
    box-shadow: 1px 0px 5px var(--sheriff-orange);
}

.orange-shadow--hover:hover {
    box-shadow: 2px 0px 10px var(--sheriff-light-orange);
}

.dotted-box {
  background-image: radial-gradient(circle, var(--sheriff-black) 10%, transparent 10%),
                    radial-gradient(circle, var(--sheriff-black) 10%, transparent 10%);
  background-size: 10px 10px; /* Size of each checkered square */
  background-position: 0 0, 20px 20px; /* Offset the second layer */
  background-color: var(--sheriff-green);
}

