.markdown-title {
    font-size: 2.125em;
    color: var(--sheriff-green);
}

.markdown-heading-setup {
    color: var(--sheriff-orange);
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    @media (max-width: 768px) {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.markdown-subheading {
    @extend .markdown-heading-setup;
    font-size: 1.875em;
}

.markdown-container {
    color: var(--sheriff-white);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .markdown-heading-setup;
    }

    h1 {
        font-size: 2.125em;
    }

    h2 {
        font-size: 1.875em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.225em;
    }

    h5 {
        font-size: 1.125em;
    }

    h6 {
        font-size: 1em;
    }

    a {
        color: var(--sheriff-green);
        text-decoration: none;
        cursor: var(--revolver-cursor);
    }

    a:hover {
        padding-bottom: 0.3%;
        border-bottom-style: solid;
        border-bottom-width: 0.1%;
    }

    p img {
        width: 60%;
        margin-bottom: 5%;
        display: block;
        margin: auto;
    }

    p {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        font-size: 1.2em;
    }

    blockquote {
        border-left: 8px solid var(--sheriff-green);
        padding-left: 2.5%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        background-color: var(--neon-background-color);
        quotes: "\201C" "\201D" "\2018" "\2019";
    }

    blockquote:before {
        color: var(--sheriff-green);
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }

    p code {
        background-color: #002B36;  /* background of the current code block style theme: solarized-dark */
        color: #93A1A1;             /* core font colour for code block style theme: solarized-dark */
        padding: 2px 6px;
        border-radius: 4px;
        font-family: "Courier New", monospace;
    }

    pre {
        position: relative;
        margin-top: 1%;
        margin-bottom: 1%;
        max-width: 100%;
        border-radius: 8px;
        padding: 2.5%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.2em;
    }

    table td,
    table th {
        border: 1px solid var(--sheriff-green);
        text-align: center;
        padding: 8px;
    }

    table th {
        color: var(--sheriff-orange);
    }

    table td {
        color: var(--sheriff-white);
    }

    table td a {
        color: var(--sheriff-white);
        text-decoration: none;
        cursor: pointer;
    }

    table td a:hover {
        color: var(--sheriff-orange);
    }

    /* custom markdown elements */

    .heading-hover {
        position: absolute;
        left: -999px;
    }

    .math-mode {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 1.875em;
    }
}

/* markdown styles for lists */

/* unordered list */
.markdown-container>ul {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    font-size: 1.2em;
}

.markdown-container ul>li ul {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.markdown-container ul>li ul>li ul {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.markdown-container>ul li {
    padding-bottom: 0.5%;
}

/* ordered list */
.markdown-container>ol {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    font-size: 1.2em;
}

.markdown-container ol>li ol {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.markdown-container ol>li ul {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.markdown-container ol>li ol>li ol {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.markdown-container>ol li {
    padding-bottom: 1%;
}

.markdown-container-border {
    border: 2px solid var(--sheriff-green);
    padding: 5%;
}