.left-right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }

    @media (max-width: 768px) {
        display: block;
    }

    @media (max-width: 480px) {
        display: block;
    }
}

.central-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.two-column-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__column {
        flex: 50%;
    }

    &__column--20 {
        flex: 20%;

        @media (max-width: 768px) {
            img {
                display: none;
            }
        }
    }

    &__column--80 {
        flex: 80%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: var(--green-box-padding-left);

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}