.page-container {
    margin: 2% 2% 2% 2%;

    &__full {
        margin: 0;
    }
}

.hidden-block {
    display: none;
}

.landing-content {
    height: 58vh;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    @media (max-width: 768px) {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    /* Center the container */
    margin: 0 auto;
    /* Add vertical scrollbar when content exceeds height */
    overflow-y: auto;
}

.post-box {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    height: 42%;

    @media (max-width: 768px) {
        /* Switch to 2 columns */
        flex: 1 1 calc(50% - 20px);
    }

    @media (max-width: 480px) {
        /* Switch to 1 column */
        flex: 1 1 100%;
    }
}

.post-metadata {
    padding-top: 5%;

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    p {
        padding-top: 2.5%;
        color: var(--sheriff-white);
        font-size: 0.8em;
    }

    @media (max-width: 768px) {
        h2 {
            margin-top: 2.5%;
            font-size: 1.1em;
        }

        p {
            font-size: 0.6em;
            padding-top: 5%;
        }
    }
}

.post-metadata h2,
.post-metadata p,
.post-metadata a {
    display: -webkit-box;
    /* Number of lines to display */
    -webkit-line-clamp: 2;
    /* Set box orientation to vertical */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-page-content-container {
    padding-right: var(--green-box-padding-right);
    padding-left: var(--green-box-padding-left);
    padding-top: var(--green-box-padding-top);
    padding-bottom: var(--green-box-padding-bottom);
}

.post-metadata-header {
    color: var(--sheriff-green);

    h1 {
        font-size: 2.125em;
    }

    p {
        font-size: 1em;
    }
}

.post-metadata-header--orange {
    @extend .post-metadata-header;
    color: var(--sheriff-orange);
}

.about-me-headline-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        width: 50%;
        text-align: center;
        line-height: 1.5;
    }

    .headline-paragraph {
        margin-bottom: 0;
    }

    .about-me-role {
        font-size: 0.60em;
        color: var(--sheriff-orange);
    }

    .about-me-headline-bio {
        font-size: 0.40em;
        color: var(--sheriff-orange);
    }

    @media (max-width: 768px) {
        display: block;

        .about-me-role {
            font-size: 0.5em;
        }

        h1 {
            line-height: 1.5;
            margin: 0 auto;
            width: 100%;
        }

        .headline-paragraph {
            margin-bottom: 2.5%;
        }
    }
}

.about-me-author {
    border-bottom: var(--box-border-radius-50) solid var(--sheriff-green);
    padding-bottom: 0.25%;
}

.sheriff-about-intro {
    color: var(--sheriff-orange);
    line-height: 1.8;
}

.sheriff-headline-point {
    color: var(--sheriff-green);
    font-style: italic;
    font-size: 120%;
}